* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  height: 100vh;
}

/* Utils */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  overflow: hidden;
}

/* Main */

.conversion-content {
  background-color: #efefef;
  padding: 0.625rem;
  border-radius: 4px;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 560px;
  }

  .conversion-content {
    padding: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}